# Preprocessing ARPAFVG data

In [69]:
#Usefull imports
import numpy as np
import pandas as pd

In [70]:
#Importing the dataset
data = pd.read_csv('data/arpafvg_fllbandiera.csv')

In [71]:
data.head(-5)

,anno,mese,giorno,Pioggia mm,Temp. min gradi C,Temp. med gradi C,Temp. max gradi C,Umidita' min %,Umidita' med %,Umidita' max %,Vento med km/h,Vento max km/h,Dir. V. max gradi N,Radiaz. KJ/m2,Press. med hPa
0,2023,6,1,0.0,18.5,21.1,25.3,47,63,73,7,28,83,26978,1014.1
1,2023,6,2,0.0,18.1,20.9,24.4,47,71,82,8,45,71,20200,1011.6
2,2023,6,3,0.0,19.9,22.2,25.0,48,57,65,26,59,73,26717,1013.8
3,2023,6,4,0.0,19.6,21.7,25.0,48,65,76,11,33,151,21459,1015.5
4,2023,6,5,44.0,17.3,19.0,21.1,73,85,90,7,34,118,6061,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2024,6,6,0.0,19.9,22.3,24.3,63,75,83,7,14,323,30110,1016.6
372,2024,6,7,0.0,20.8,23.5,26.0,51,73,81,6,13,316,28968,1015.5
373,2024,6,8,0.0,22.0,24.4,26.6,58,73,82,6,14,341,19041,1011.9
374,2024,6,9,0.0,23.5,25.8,28.6,50,62,79,9,33,349,19598,1006.7
375,2024,6,10,48.2,16.9,22.8,25.3,53,76,96,14,76,312,21987,1003.3

In [72]:
# Replace "-" with NA
data = data.replace('-', np.nan)

In [73]:
# Data check
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   anno                 381 non-null    int64
 1   mese                 381 non-null    int64
 2   giorno               381 non-null    int64
 3   Pioggia mm           381 non-null    float64
 4   Temp. min gradi C    376 non-null    object
 5   Temp. med gradi C    376 non-null    object
 6   Temp. max gradi C    376 non-null    object
 7   Umidita' min %       379 non-null    object
 8   Umidita' med %       380 non-null    object
 9   Umidita' max %       380 non-null    object
 10  Vento med km/h       380 non-null    object
 11  Vento max km/h       380 non-null    object
 12  Dir. V. max gradi N  380 non-null    object
 13  Radiaz. KJ/m2        376 non-null    object
 14  Press. med hPa       380 non-null    object
dtypes: float64(1), int64(3), object(11)
memory usage: 44.8+ KB

In [74]:
# Fill the missing values with the last valid observation (forward fill)
data = data.fillna(method='ffill')
data.iloc[92:95]

,anno,mese,giorno,Pioggia mm,Temp. min gradi C,Temp. med gradi C,Temp. max gradi C,Umidita' min %,Umidita' med %,Umidita' max %,Vento med km/h,Vento max km/h,Dir. V. max gradi N,Radiaz. KJ/m2,Press. med hPa
92,2023,9,1,0.1,18.3,21.0,24.0,64,72,78,8,21,128,0,1017.7
93,2023,9,2,0.0,18.3,21.0,24.0,63,72,82,6,12,83,22325,1019.7
94,2023,9,3,0.0,18.3,21.0,24.0,57,77,86,6,31,128,16523,1020.7

In [75]:
data["Temp. min gradi C"].dtype

dtype('O')

In [76]:
# Convert object dtype columns to float 
data["Temp. min gradi C"] = data["Temp. min gradi C"].astype(float)
data["Temp. med gradi C"] = data["Temp. med gradi C"].astype(float)
data["Temp. max gradi C"] = data["Temp. max gradi C"].astype(float)
data["Umidita' min %"] = data["Umidita' min %"].astype(float)
data["Umidita' med %"] = data["Umidita' med %"].astype(float)
data["Umidita' max %"] = data["Umidita' max %"].astype(float)
data["Vento med km/h"] = data["Vento med km/h"].astype(float)
data["Vento max km/h"] = data["Vento max km/h"].astype(float)   
data["Dir. V. max gradi N"] = data["Dir. V. max gradi N"].astype(float)
data["Radiaz. KJ/m2"] = data["Radiaz. KJ/m2"].astype(float)
data["Press. med hPa"] = data["Press. med hPa"].astype(float)

In [77]:
data.to_csv('data/arpafvg_fllbandiera_clean.csv', index=False)